<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>
    <ion-title>ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about-us">

  <img class="about-us-logo" src="/assets/img/exl-logo.png" alt="">

  <p style="text-align:justify;">
    At EXL, we believe there is always a
    better way. We look deeper, we find it and make it happen. Our solutions integrate
    operations management services, analytics and technology platforms to deliver immediate
    results and long-term business impact. We work as a strategic partner to help our
    clients streamline business operations, improve corporate finance, manage compliance,
    better adapt to change, and create new channels for growth.

  </p>


  <p style="text-align:justify;">
    Sentinel mobile application is to provide
    EXL employees & Vendor resources with an easy to use Interface and features to quickly
    report an Incident security and data privacy incident. Users can report an incident from
    predefined list of Incident categories. Users can also request for a Call back from
    Information Security Group.

  </p>


</ion-content>