.about-us {
    &-logo {
        width: 200px;
        height: 80px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &-text{
        transition-delay: 2s;
        text-align:justify;
        padding: 1.6rem;
        font-size: 1.6rem;
    }

}

