<ion-content class="custom-dialog" scroll-y="false">

    <div class="custom-dialog-container">

        <div>
            <ion-card class="custom-dialog-card">
                <ion-row class="custom-dialog-heading">
                    Registration
                </ion-row>
                <ion-row class="custom-dialog-message">
                    To Register your mobie number, please visit
                    <span class="custom-dialog-url" > https://pwdreset.exlservice.com
                    </span> (Restricted to EXL network only)
                </ion-row>
                <ion-row class="custom-dialog-button-container" >

                    <ion-button class="custom-dialog-button custom-dialog-button--positive" (click)="onPositiveClick()">
                        OK
                    </ion-button>

                </ion-row>
            </ion-card>
        </div>



    </div>
</ion-content>